{% extends 'main/layout.html' %}

{% block title %}О нас{% endblock %}

{% block content %}
  <header>
    <h1>О нас</h1>
    <p>Узнайте больше о команде klaydx и нашей миссии</p>
  </header>

  <section class="about">
    <h2>Наша история</h2>
    <p>Проект klaydx был основан с целью создания уникальной и вдохновляющей музыки, которая объединяет людей со всего мира. Мы верим, что музыка — это сила, способная привнести радость и вдохновение в жизни людей.</p>
  </section>

  <section class="mission">
    <h2>Наша миссия</h2>
    <p>Мы стремимся создавать музыку, которая вдохновляет и объединяет. Наше желание — дарить людям моменты радости и дать каждому слушателю возможность почувствовать себя частью чего-то большего.</p>
  </section>

  <footer>
    <p>&copy; 2024 klaydx. Все права защищены.</p>
    <a href="/">Вернуться на главную</a>
  </footer>
{% endblock %}